/dist
.env
.DS_Store
/uploads
/static
/node_modules/
/.pnpm-store/
pnpm-debug.log*

.idea

coverage

!src/**

./tsconfig.tsbuildinfo
medusa-db.sql
build
.cache

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.medusa
